/* 
 * Kiezatlas Alternative Maps Interface - Kiezatlas Labs Stylesheet
 * 
 * @author Malte Reißig - mre@deepamehta.de (2011/11/21)
 */

#kiezatlas { font: 76% Arial, Helvetica, sans-serif; border: 1px #e8e8e8 solid; margin: 20px; margin-top: 25px; }
#kiezatlas a { text-decoration: none; }
#kiezatlas a:hover { text-decoration: underline; } /** 3f5da6 **/
#kaheader { position: absolute; left:0px; top:0px; height:35px; background:#fff; border-bottom: 5px solid #3f5da6; }

#mapName { position: absolute; left: 50px; top: 30px; padding:11px; padding-bottom: 5px; padding-left: 20px; width: 300px; height:35px; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:13px; color:#3f5da6; }
.mapTitle { font-weight: bold; }
#mapSwitcher { font: 10px Arial, Helvetica, sans-serif; color: #4170d4 !important; position: relative; top: 30px; }
#mapMarkerButtons { font: 12px Arial, Helvetica, sans-serif; color: #4170d4; font-weight:bold; !important; text-decoration: none; }
#map { position: relative; left: 40px; top: 40px; border: 1px solid #e8e8e8; }

#sideBar { margin: 20px; width: 95%;}
#sideBarCriterias { position:relative; left:20px; top:20px; cursor:pointer; color: #009; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:13px; }
#sideBarCategories { position:relative; left:20px; top:40px; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:12px; }
#sideBarCategories img { padding-right: 4px; padding-top: 15px; vertical-align: bottom; padding-left: 0px; }
#sideBarControl { position: absolute; width:5px; top:29px; background:#3f5da6; }
#progContainer { position:absolute; top:45%; left:35%; width:50%; height:50%; font-family: "Times New Roman, Times, serif"; font-size:10px; }
#kafooter { height:35px; position:relative; top: 50px; left: 40px; font-family: "Verdana", "Tahoma", "sans-serif"; font-size:10px; }

#catListingTable { }
#categoryListing { position:relative; left: 20px; top: 20px; width: 250px; }
#catListingTable, #catListingTable a, #catListingTable a:link { font-size: 12px; }

.redTitle { color: #b60033; }
.propertyLabel { position:relative; left: 1px; font-weight: bold; }
.propertyField { position:relative; left: 1px; }
.additionalInfo { width: 240px; margin-left: 5px; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; padding-left:4px; border: 1px dashed #000; }
.additionalInfoWhite { width: 240px; margin-left: 5px; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; padding-left:4px; border: 1px dashed #000; }
.topicRowDeselected { background: #fff; }
.topicRowSelected { background: #e6edff; }
