
body {
    padding: 0;
    margin: 0;
    overflow-y: scroll !important;
    height: 1200px;
}

html, body {
    height: 100%;
    overflow: hidden;
}

img.more {
    padding: 4px;
}

h1.my-title {
    margin: 10px 10px !important;
}

.content-navi-top ul.level1 li a {
    text-shadow: 0 0 transparent;
}

.html5-nav.meta-navi li a {
    display: inline-block;
}

.citymap-navi.ehrenamt-projects {
    margin-left: 10px;
}

.nav.level1 .citymap-navi.selected a {
    background-color: #253276;
    color: #fff;
}

/** .html5-section.content.type-article {
    height: 800px;
} **/

#kiezatlas {
    width: 100%;
    height: 580px;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000;
}

.leaflet-popup-content div.topic-name.item b,
#kiezatlas a {
    color: #253276;
    text-decoration: none;
    cursor: pointer;
}

.leaflet-popup-content div.topic-name.item b:hover,
#kiezatlas a:hover {
    text-decoration: underline;
}

/** red: #b5050e, blue: #253276; */

#overview {
    position: relative;
    left: 0px;
}

/* *#map {
    font-size: 14px;
} **/

#details {
    position: absolute;
    right: 10px; top: 59px;
    border-left: 1px solid #253276;
    border-bottom: 1px solid #C6C6C6;
}

#branding-area {
    position: relative;
    top: 15px; left: 15px;
    cursor: pointer;
    padding-bottom: 15px;
    display: none;
}

#branding-area .active-map {
    text-decoration: none;
    cursor: default;
    color: #e50033;
    font-weight: bold;
}

#branding-area .active-map:hover {
    text-decoration: none;
}

li.citymap-navi {
    line-height: 1em;
    position: relative;
    top: -7px;
    padding-top: 4px;
}

li.citymap-navi.selected {
    background-color: #253276;
    color: #fff;
}

#criteria-list {
    position: relative;
    top: 0px; right: 5px;
}

#criteria-list table td.selected-criteria {
    font-weight: bold;
}

#criteria-list table td.criteria {
    font-weight: normal;
    cursor: pointer;
    width: 38%;
}

#kiezatlas table td {
    border: 0px solid transparent;
    padding: 3px 3px;
    vertical-align: inherit;
}

/** berlin.de style matches all classes with "icon".. */
#kiezatlas table td.cell-ikon {
    text-align: center;
}

#cross-links-area {
    border: 1px solid #f77f7f;
    position: relative;
    height: 20px; left: 5px;
    display: none;
}

#page-body {
    position: relative;
    top: 0px; left: 0px;
    padding-bottom: 10px;
    /** padding-left: 10px; **/
    padding-right: 5px;
    overflow-y: scroll;
}

#page-body p {
    margin: 10px 0px 10px 0px
}

#page-body .property-label {
    font-weight: bold;
}

#page-body .property-field {
    margin: 0px 0px 10px 0px;
}

#page-body .property-fields {
    margin: 0px 0px 10px 0px;
}

#page-body.categories {
    background-color: #fff;
}

#page-body.categories td.cell-label,
#page-body.categories td.cell-ikon {
    cursor: pointer;
    color: #3b3b3b;
}

#page-body.categories td.cell-label:hover {
    text-decoration: underline;
}

/** #page-body.categories tr.cat-selected td.cell-label {
    color: #3b3b3b;
} **/

#page-body.categories .cat-selected {
    background-color: #ececec;
    /** background-color: #dae3f8; **/
}

#page-body.categories .cat-deselected {
    background-color: #fff;
}

#page-body.entry {
    background-color: #fff; /** #dad4d2; **/
    padding-left: 10px;
}

#page-body .fahrinfo-link {
    padding: 5px;
    padding-bottom: 10px;
    background-color: #fff;
    position: relative;
    top: 5px;
    margin-bottom: 10px;
}

#page-body p.info-area {
    position: relative;
    top: 10px;
}


#page-body h3.event-label,
#page-body h3.search-label,
#page-body h3.info-label,
#page-body h3.category-label,
#page-body ul.result-list {
    padding-left: 10px;
}

#page-body ul.result-list.list li {
    cursor: pointer;
    color: #3b3b3b;
    margin-top: 10px;
}

#page-body ul.result-list.list li:hover {
    text-decoration: underline;
}

#print-sign {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 10px;
}

#footer-area {
    position: relative;
    top: 10px;
    left: 0px;
}

#kiezatlas #search-controls label,
#kiezatlas #search-controls form {
    display: inline-block;
}

#kiezatlas #search-controls label {
    vertical-align: super;
    margin-right: 10px;
}

#kiezatlas #search-controls #search-form {
    position: absolute; right: 20px;
}

#kiezatlas #search-controls input[type='text']{
    padding: 6px 4px;
}

#kiezatlas #search-controls {
    position: relative; left: 10px;
}

#kiezatlas #street-alternatives {
    display: inline-block;
    width: 320px;
    z-index: 101;
    color: #3b3b3b;
    position: relative;
    top: -5px;
}

#kiezatlas #street-alternatives .prev-location,
#kiezatlas #street-alternatives .next-location {
    font-weight: bold;
    padding: 6px; padding-bottom: 5px;
    margin: 4px;
    color: #a9a9a9;
}

#kiezatlas #street-alternatives .next-location.btn {
    margin-right: 12px;
}

#kiezatlas #street-alternatives .btn {
    cursor: pointer;
    color: #fff;
}

#kiezatlas #street-alternatives .btn:hover {
    background-color: #253276;
    color: #fff;
}

#kiezatlas #show-all,
#kiezatlas #reset {
    display: inline-block;
    position: absolute; top: 0px;
    left: 70%; margin-right: 10px;
    z-index: 201; background-color: #fff; padding: 4px;
    padding-right: 6px; padding-left: 6px;
    cursor: pointer;
    color: #253276;
}

#kiezatlas #show-all:hover,
#kiezatlas #reset:hover {
    background-color: #253276;
    color: #fff;
}

#kiezatlas #show-all {
    left: 50%;
}

#simple-search {
    padding-top: 7px;
    padding-bottom: 6px;
    margin-bottom: 3px;
}

/** .nav li.icon-printer_32 {
    display: none;
} **/
