/*
 * Kiezatlas Alternative CityMaps Interface - berlin.de/atlas Stylesheet
 *
 * @author Malte Rei&szlig;ig - mre@deepamehta.de (29th of January 2012)
 */

/** cutout
#kiezatlas { font: 76% Arial, Helvetica, sans-serif; }
#focusInput { font-family: "Arial", "Sans-Serif"; font-size: 11px; color: #fff; } font-family: "Arial", "Sans-Serif"; font-size: 11px; color: #fff, #b60033
background:#3F5DA6;
.activeField textarea input { border: 1px solid #007; }
.idle textarea input { }
.olControlPanel .olControlNavigationItemActive { background-color: #fff }
.olControlPanel .olControlNavigationItemInactive { background-color: #aaa  font: 76% Arial,Helvetica,sans-serif}
; background-color: #6C6C6C; background-image: http://www.berlin.de/.img/bde/menubar-grey-bg.gif; border-right-color: white; border-right-style: groove; border-right-width: 2px; border-left-style: groove; border-left-width: 2px;
*/
#kiezatlas { position: absolute; top: 0px; left:0px; font: 100% Arial, Helvetica, sans-serif; }
#kaheader { position: absolute; left:0px; height: 35px; border-right: 1px solid #2D509A; background: #fff; border-bottom: 5px solid #2D509A; }
#kiezatlas #mapName { position: relative; left: 7px; margin-top: 0px; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:13px; color:#2D509A; width: 400px; }
#kiezatlas #mapName a { text-decoration: none; padding: 10px; color: #2D509A; }
#kiezatlas #mapName a:hover { text-decoration: none; background-color: #2D509A; color: #fff; }
/** #mapName:hover { background-color: #3f5da6; color: #fff; height: 20px; }**/
#kiezatlas .mapTitle { font-weight: bold; }
/** .mapTitle:hover { background-color: #3f5da6; color: #fff; padding-top: 10px; padding-bottom: 5px; padding-right: 10px; } **/
#kiezatlas #cityMapDialog { z-index: 1003; background-color: #fff; position:absolute; top:39px; left: 415px; border: 1px solid #4170d4; }
#kiezatlas #cityMapDialog a { cursor: pointer; text-decoration: none; }
#kiezatlas #cityMapDialog img { border: 0px solid #fff; }
#kiezatlas #cityMapNav { list-style: none; padding: 0px; }
#kiezatlas #cityMapNav ul { padding: 0px; -webkit-padding-start: 0px; -webkit-margin-before: 0px; -webkit-margin-after: 0px; }
#kiezatlas #cityMapNav li { padding: 8px; font-weight: bold; font-size: 13px; font-family: "Verdana", "Tahoma", "sans-serif"; color: #2D509A; }
#kiezatlas #cityMapNav li:hover { background-color: #2D509A; color: #fff; cursor: pointer; }
#kiezatlas #cityMapNav li:hover a { background-color: #2D509A; color: #fff !important; cursor: pointer; }
#kiezatlas #cityMapNav li a:link { color: #2D509A; }
#kiezatlas #cityMapNav li a:hover { text-decoration: none; color: #fff; }

/** most stuff positioned in the kiezatlas.js script **/
#kiezatlas #focusInput { position: absolute; height: 30px; left: 10px; top:5px; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:13px; color: #2D509A; }
/**  #focusInput label { color: #40B0E2; } **/
#kiezatlas #focusInput input, #focusInput textarea { border: 1px solid #4170d4; font-weight: bold; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:13px; padding: 4px; background-color:#fff; color: #3f5da6; width:180px; }

#kiezatlas #focusAlternatives { padding-left: 6px; background-color:#FFFFFF; line-height: 21px; font-size:13px; padding:5px; position:absolute; top:173px; left: 123px; visibility:hidden; width:350px; border-top: 0px solid #2D509A; border-bottom: 1px solid #2D509A; border-right: 1px solid #2D509A; left: 1px solid #2D509A; z-index: 1010; /** #3f5da6;**/ }
#kiezatlas #focusAlternatives a { padding: 3px; margin: 3px; height: 20px; font-weight: bold; }
#kiezatlas #focusAlternatives img { cursor: pointer; }
#kiezatlas #focusAlternatives i { margin-left: 6px; }

#kiezatlas #searchInput { position: absolute; height: 30px; top:5px; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:13px; color: #2D509A; }
/** #searchInput label { color: #40B0E2; } **/
#kiezatlas #searchInput input, #searchInput textarea { border: 1px solid #4170d4; font-weight: bold; font-family:"Verdana", "Tahoma", "sans-serif"; font-size:13px; padding: 4px; background-color:#fff; color: #3f5da6; width:160px; }

#kiezatlas #headerButtons { position: absolute; top:1px; }

#kiezatlas a.go-search, #kiezatlas a.go-focus { padding: 3px; padding-right: 5px; padding-top: 5px; position: relative; top: 0px; left: -30px; color: #3f5da6; font-size: 10px; font-weight: normal; text-decoration: none; }
#kiezatlas a.go-search:hover, #kiezatlas a.go-focus:hover, #kiezatlas a.go-search:focus, #kiezatlas a.go-focus:focus { cursor: pointer; background-color: #3f5da6; color: #fff; text-decoration: none; }

#kiezatlas #mapControl a { color: #3f5da6; font-size: 12px; padding: 5px; text-decoration: none; }
#kiezatlas #mapControl { position: absolute; vertical-align: top; height: 25px; padding-right: 10px; font-size: 12px; color:#3F5DA6; background-color: #fff; font-family:"Verdana", "Tahoma", "sans-serif"; font-weight: bold; background-color: #fff; border: 1px solid #3f5da6; z-index: 1001; }
#kiezatlas #moreLabel { cursor: pointer; padding: 5px; display: inline-block; padding-bottom: 6px; }
#kiezatlas #moreLabel:hover { background-color: #3f5da6; color: #fff; }
#kiezatlas #moreLabel.selected { background-color: #3f5da6; color: #fff; }
#kiezatlas #mapControl a { color:#3f5da6; font-size: 12px; }
#kiezatlas #mapControl img { cursor: pointer; }


#kiezatlas #dialogMessage { position: absolute; top: 250px; left: 200px; width: 300px; height: 160px; background-color: #fff; border: 2px solid #2D509A; }
#kiezatlas #modalTitle { position: relative; top: 10px; padding: 10px; margin-right: auto; margin-left: auto; }
#kiezatlas #modalMessage { padding: 10px; }
#kiezatlas #closeDialog { position: relative; top: 145px; left: 160px; }
#kiezatlas #divider { position: relative; left: 2px; top: 0px; }
/** Opera compatible .. left positioning */
#kiezatlas #mapSwitcher { width: 160px; position: relative; top: 25px; left: 139px; z-index: 2;
  font-family:"Verdana", "Tahoma", "sans-serif"; font-size: 12px; font-weight: bold; color: #2D509A; !important; text-align: right;
  background-color: #fff; border-top: 0px solid #2D509A; border-bottom: 1px solid #2D509A; border-right: 1px solid #2D509A; border-left: 1px solid #2D509A; padding-right: 5px; }
#kiezatlas #mapMarkerButtons { font-family: sans-serif; font-size: smaller; color: #4170d4; font-weight:bold; !important; opacity: 0.75; text-decoration: none;}
#kiezatlas #memu { position: absolute; background-color: #fff; width:325px; opacity:0.8; padding: 5px; padding-left: 10px; color: #4170d4; }
#kiezatlas #memu a .hover { color :#3f5da6; text-decoration: none; }
#kiezatlas #map { position: absolute; left:0px; z-index: 0; }
#kiezatlas #navPanel{ position: absolute; left: 5px; bottom: 50px;}
#kiezatlas #sideBar { position: absolute; border-top: 0px solid #2D509A; border-bottom: 1px solid #2D509A; border-right: 1px solid #2D509A; border-left: 1px solid #2D509A; background:#fff; }
#kiezatlas #sideBarCriterias { position:relative; left:5px; top:3px; cursor:pointer; }
#kiezatlas #sideBarCategories { position:relative; left:5px; top: 5px; overflow:auto; }
#kiezatlas #sideBarCategories a { text-decoration: none; }
#kiezatlas #sideBarCategories a:hover { text-decoration: underline; }
#kiezatlas #sideBarControl { position: absolute; width:5px; top:29px; background: #2D509A; }
#kiezatlas #progContainer { position:absolute; top:45%; left:35%; width:50%; height:50%; opacity: 0.6; }
#kiezatlas #kafooter { background: #fff; height:35px; position:absolute; }
#kiezatlas #footerImprint { position:absolute; right:8px; bottom: 18px; }
#kiezatlas #footerImprint a { color: #b60033; text-decoration: none; font-weight: bold; }
#kiezatlas #footerPoweredBy { position:absolute; right:8px; bottom: 3px; }
#kiezatlas #footerPoweredBy a {  color: #b60033; text-decoration: none; font-weight: bold;}
#kiezatlas #footerPrint { position: relative; left: 2px; top: 6px; }
#kiezatlas #helpFont { position: absolute; bottom: 5px; font-size: 12px; font-weight: bold; color: #4170d4; text-decoration: none;}
#kiezatlas #helpPageOne { position: relative; left: 0px; top: 0px; }
#kiezatlas #resizeButton { cursor:pointer; position: relative; left: 2px; top: 5px; padding-right: 5px; }
#kiezatlas #fullWindowButton { cursor:pointer; position: relative; top: 5px; }

#kiezatlas #permaLink { position: absolute; top: 37px; right: 695px; z-index: 1100; }
#kiezatlas #permaLinkLabel { cursor: pointer; border: 1px solid #3f5da6; position: absolute; right: 760px; top: 35px; width: 100px; font-weight:bold; font-family: "Arial", "Sans-Serif"; font-size: 10px; color: #009; background-color: #fff; }
#kiezatlas #permaLink input, #kiezatlas #permaLink textarea { width: 400px; border: 1px solid #3f5da6;  font-size: 13px; font-family: "Arial", "Sans-Serif"; padding-top: 7px; padding-bottom: 7px; padding-left: 7px; background-color:#fff; color: #009; }
/** overwriting new bde css */
#kiezatlas tr, td, th { vertical-align: middle !important; }
#kiezatlas table { border-collapse: separate; border-spacing: 0px; font-size: 100%; }
/** some classy definitions */
.redTitle a, .redTitle a:hover, .redTitle a:-webkit-any-link { color: #b60033; }
#navigation-helper a:hover { text-decoration: underline; color: #e50033; opacity: 1.0; }
#navigation-helper a { text-decoration: none; color: #3660b8; opacity: 0.7; }
#navigation-helper { color: #e50033; }
#kiezatlas .critLinkNormal { text-decoration: none; color: #3660b8; padding: 1px; color: #3660b8; opacity:0.7; width: 120px; }
#kiezatlas .critLinkNormal:hover { text-decoration: underline; color: #e50033; opacity: 1.0; }
#kiezatlas .selectedCriteria, #kiezatlas .selectedCriteria a:hover { color: #e50033; opacity: 1.0; text-decoration: none !important; }
#kiezatlas .berlinMapName { position: relative; left: 3em; top: 0px; width: 145px; height: 30px; background: url("/.img/bde/menubar-grey-bg.gif") repeat-x scroll 0 0 #6C6C6C; border-top: 0px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #fff; border-bottom: 0px solid #fff; }
/** #kiezatlas .critLinkNormal { text-decoration: underline; } */
#kiezatlas .catRowDeselected { background: #fff; }
#kiezatlas .catRowSelected { background: #E6EDFF; }
#kiezatlas .iconCell { text-align: center; padding: 2px; }
#kiezatlas .propertyLabel { position:relative; left: 1px; font-weight: bold; }
#kiezatlas .propertyField { position:relative; left: 1px; }
#kiezatlas .topicRowDeselected { background: #fff; }
#kiezatlas .topicRowSelected { background: #e6edff; }
#kiezatlas .layersDiv { position:relative; left: 5px; max-width: 210px; text-align: right; padding-right: 10px; padding-left: 10px; padding-bottom: 10px; }
#kiezatlas .dataLbl { color: #4170D4; }
#kiezatlas .baseLbl { color: #4170D4; }
#kiezatlas .labelSpan:hover { text-decoration: underline; }
#kiezatlas .dataLayersDiv { border: 1px solid #e6edff; padding: 2px; text-align: right;  }
#kiezatlas .baseLayersDiv { border: 1px solid #e6edff; padding: 2px; text-align: right; }
#kiezatlas .additionalInfo { width: 270px; background: #E8E8E8; margin-left: auto; margin-right: auto; padding-top: 5px; padding-bottom: 5px; padding-left:5px; padding-right:5px; border: 1px dashed #000;}
#kiezatlas .additionalInfoWhite { width: 270px; margin-left: auto; margin-right: auto; padding-top: 5px; padding-bottom: 5px; padding-left:5px; padding-right:5px; border: 1px dashed #000;}
#kiezatlas .olControlPanel { background-color: #4170D4; }
#kiezatlas .olControlLayerSwitcher olControlNoSelect { background-color: #4170D4; position: absolute; top: 352px !important; }
#kiezatlas .olControlLayerSwitcher { background-color: #4170D4; position: absolute; top: 352px !important; }
#kiezatlas .olControlAttribution { position:absolute; bottom: 3px !important; }

@-moz-document url-prefix() {
  #kiezatlas .layersDiv { }
  #kiezatlas #mapSwitcher { left: 191px; }
  #kiezatlas #mapControl { z-index: 0; }
  #kiezatlas #permaLink input, #kiezatlas #permaLink textarea { padding-bottom: 8px; }
  /** #kiezatlas #fullWindowButton { z-index: 2; } **/
  /** #mapName { position: relative; left: 365px; padding:10px; padding-bottom: 5px; } **/
}

